#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.containter{
  width: 400px;
  height:  200px;
  background: white;
  display: flex;
  align-items: center;
  padding: 20px;

  img{
    border-radius: 100%;
  }
}